/**
 * Created by Vladislav Volynsky on 11/01/2024.
 */

a {
    color: #ffffff;
    text-decoration: none;
}

.header-container {
    margin: 0 6.25rem -2rem 0;
    height: 6.875rem;
    border-radius: 0.3rem;
}

.main-container {
    padding-top: 1rem;
    margin-bottom: -2rem;
    width: 100%;
    background-color: #1b1b1b;
}

.main-name {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 0;
    margin-top: 0.3rem;
}

.generate-cv-button-container {
    margin: 1rem 0 8rem 0;
}

.save-changes-button-container {
    margin: 2rem 0 3rem 0;
}

.img-wrapper-container {
    top: 3.125rem;
    left: 5rem;
}

.avatar-img-container {
    margin-left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    width: 10.938rem;
    height: 10.938rem;
    animation: fadeIn 2s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.938rem;
    min-height: 1.938rem;
}

.avatar-img {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
}

.img-info-container {
    margin-bottom: 4rem;
    align-self: end;
}

.left-info-container {
    margin: 15rem 6.25rem 0 0;
    padding-left: 6.25rem;
    font-size: 0.9rem;
    font-weight: 300;
}

.right-info-container {
    margin: 0 6.25rem 0 0;
    font-size: 0.9rem;
    font-weight: 300;
}

.delete-icon-button {
    cursor: pointer;
}

.icon-button {
    cursor: pointer;
    margin-top: 0.2rem;
}

.labels-container {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.sub-labels-container {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 0.5rem;
}

.skills {
    border-radius: 5px;
    opacity: 1;
    background-color: #292929;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1.5rem;
}

:host {
    --slds-c-button-brand-color-background: #0348aa;
    --slds-c-button-brand-color-border: #0348aa;

    --slds-c-textarea-color-background: #292929;
    --slds-c-textarea-color-background-focus: #292929;
    --slds-c-textarea-color-background-error-focus: #292929;
    --slds-c-textarea-text-color-error-focus: white;
    --slds-c-textarea-color-border: #292929;
    --slds-c-textarea-color-border-focus: #c9c9c9;
    --slds-c-textarea-text-color: #fff;
    --slds-c-textarea-text-color-focus: #fff;
    --slds-c-textarea-sizing-min-height: 100px;

    --slds-c-input-color-background: #292929;
    --slds-c-input-color-background-focus: #292929;
    --slds-c-input-color-border: #29292;
    --slds-c-input-color-border-focus: #c9c9c9;
    --slds-c-input-text-color: #fff;
    --slds-c-input-text-color-focus: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-animation {
    animation: fadeIn 2s ease-in-out;
}

.avatar-img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 10.938rem;
    height: 10.938rem;
    transition: transform 0.3s ease-in-out;
}

.avatar-img-container:hover {
    transform: scale(1.05);
}
